body {
    padding: 0;
    margin: 0;
    background-image: url(../images/subtle_grunge.png);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

/* Styling for NavBar */

.navbar-brand {
    padding: 10px 20px;
    background-color: #4aaaa5;
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    margin-left: 15.5%;
}

a:link {
    color: #cccccc;
    text-decoration: none;
}

a:visited {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: bold;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#navbarNav {
    padding: 10px;
    margin-left: 25.5%;
}

.divider {
    color: #cccccc;
}


/*Styling for page content*/

#about-me {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 960px;
}

.img-thumbnail {
    float: left;
}

#bio-content {
    margin-top: 20px;
    clear: both;
}

form {
    margin: 20px;
    padding: 20px;
}

#contact-form {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 960px;
    padding: 20px;
}

#button-color {
    background-color: #4aaaa5;
    color: white;
}

#portfolio-content {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 960px;
    padding: 20px;
}

/* Styling for footer*/

footer {
    margin-top: 20px !important;
    background-color: #666666 !important;
    border-top: 8px solid #4aaaa5;
    font-size: 10px;
    clear: both;
} 

.navbar-text {
    color: white !important;
    text-align: center !important;
    margin: 0 auto;
}

/*
    These rules will override the Bootstrap navbar styling when the browser's width is 640px or less
*/

@media screen and (max-width: 640px) {
    .navbar-brand {
        min-width: 100%;
        margin: 0 0 20px 0;
        text-align: center;
    }

    #navbarNav {
        display: inline;
        margin-left: 25% !important;
        list-style: none;
    }

    #about-me {
        display: block;
        margin: 20px auto;
        max-width: 75%;
    }

    #contact-form {
        display: block;
        margin: 20px auto;
        max-width: 75%;
    }

    #portfolio-content {
        display: block;
        margin: 20px auto;
        max-width: 75%;
    }

}

@media screen and (max-width: 768px) {
    
    #navbarNav {
        display: flex;
        margin-left: 15%;
        list-style: none;

    }

    .navbar-brand {
        display: inline-block;
        margin: 0 0 20px 0;
        text-align: center;
    }

    #about-me {
        display: block;
        margin: 20px auto;
        max-width: 75%;
    }

    #contact-form {
        display: block;
        margin: 20px auto;
        max-width: 75%;
    }

    #portfolio-content {
        display: block;
        margin: 20px auto;
        max-width: 75%;
    }

}

@media screen and (max-width: 980px ) {
    .navbar-nav {
        display: inline-block;
        float: left;
    }

    .navbar-brand {
        display: inline-block;
        margin: 0 0 20px 0;
        text-align: center;
    }

}
